<!-- <h2>Eat-Da-Burger</h2> -->

<!-- Unordered list for displaying non-eaten burgers -->
<div id="notEaten">
  <div class="header">
    <h3>Fresh of the Grill</h3>
  </div>
  {{#each burgers}}
    {{#unless this.devoured}}
      <p>
        {{this.burger_name}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button class="btn btn-warning" type="submit">Devoure It!</button>
        </form>
      </p>
      <hr>

    {{/unless}}
  {{/each}}
</div>

<!-- Unordered list for displaying eaten burgers -->
<div id="eaten">
  <div class="header">
    <h3>Devoured</h3>
  </div>
  {{#each burgers}}
    {{#if this.devoured}}
      <p>
        {{this.burger_name}}
      </p>
    {{/if}}
  {{/each}}
</div>

<!-- Input form for adding burgers -->
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <input class="form-control" type="text" id="burger-name" name="burger_name" placeholder="Add a Burger">
  </div>

  <button class="btn btn-success btn-md" type="submit">Submit</button>

</form>
