body {
  background-image: url("../burgerBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

h1, h2, p {
    font-family: 'Bungee Shade', serif;
}

p {
  font-size: 20px;
}

#notEaten {
  float: left;
  background-color: white;
  border-radius: 8px;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  margin: 2%;
}

.header {
  text-align: center;
  padding-bottom: 5%;
}

#eaten {
  float: right;
  background-color: white;
  border-radius: 8px;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  margin: 2%;
  /*text-decoration: line-through;*/
}

#burgerList {
  /*background: white;*/
  border-radius: 8px;
  padding: 2%;
}

#title {
  color: #f0ad4e;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  /*background: aqua;*/
}

.form-group {
  margin-bottom: 5px;
}
